/* Code snippet for HTML5/CSS3 video header */

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/* override Bootstrap Alert class to allow hovering above page */
.alert {
	position: absolute;
	z-index: 2;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
}

/*.table {
    max-width: none;
    table-layout: fixed;
    word-wrap: break-word;
}*/

/* override ionicon element to vertical-align icons better */
ion-icon {
    width: 1.28571429em;
    text-align: center;
    vertical-align: middle;
}